loa-auth-dist/
loa-auth-dist.zip
*.zip
vendor/

# PHPUnit
.phpunit.cache/

# Laravel
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
storage/logs/
bootstrap/cache/
assemblies/loa-auth-platform/storage/framework/cache/

# Environment files
.env.local
