APP_NAME="LOA Consult Platform"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:9002
APP_KEY=
APP_TIMEZONE=Asia/Manila

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=33060
DB_DATABASE=loa_consult
DB_USERNAME=loa
DB_PASSWORD=loa-secret

JWT_SECRET=dev-only-secret-change-before-production
JWT_ACCESS_TTL=15
TENANT_SLUG=loa-consultation
AUTH_BASE_URL=http://localhost:8080
ENCRYPTION_KEY=base64:aQ0GFg4Sb84QdlaGQc5wiS17VFPCWOvKQZJ+/bUCRYE=
REFRESH_COOKIE=loa_connect_refresh
REFRESH_COOKIE_TTL=10080

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_FROM_ADDRESS="noreply@lyceumalabang.edu.ph"
MAIL_FROM_NAME="LOA Consult Platform"
